<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<webobjects name="TextStyles"></webobjects>
	<webobjects name="TableStyles"></webobjects>
	<webobjects name="PageStyles"></webobjects>
	<webobjects name="AttendeeStyles"></webobjects>
	<title>Invite Letter Submitted - <webobject name = "VenueLable"/></title>
</head>
</head>
<body>

<webobject name = "AttendeeBanner"/>

<div class="pagecontent" style="margin-top: 80px; margin-left: auto; margin-right: auto; width: 300px; padding: 50px;">

<h3 style="text-align: center;">Thank You</h3>

<p style="text-align: center;">A DynEd representative will contact you regarding a letter for your visa application.  Additional information may be required.</p>

<p style="text-align: center;">Return to <webobject name = "ReturnToConferencePage"><webobject name = "VenueLable"/> Page</webobject>.</p>

</div>

</body>
</html>
