<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>

<h3>Congratulations. You have registered for the <webobject name = "VenuLable"/></h3>

<p>Please save this e-mail message since it contains important links.</P>

<p>Make sure you have<br>
<ul>
<li>signed up for activities, and  
<li>provided your travel information and hotel information, and</li>
<li>indicated any special needs you may have.</li>
</ul>
</p>

<p>You need the e-mail address (<webobject name = "AttendeeEmail"/>) as well as the password you provided to log in and update your information.
You can update your personal information using the links at the top of each page.<p>

<p><webobject name = "LoginLink">Login Now</webobject></p>

<p>Please visit the <webobject name = "ConferenceLink"><webobject name = "VenuLable"/></webobject> page often for updates.</p> 

<p>Thank you and we look forward to seeing you there.</p>

<p><webobject name = "AdminForVenu"/></p>

</body>
</html>
