{
    attributes = (
        {allowsNull = Y; columnName = color; name = color; prototypeName = longText; }, 
        {
            allowsNull = Y; 
            columnName = description; 
            name = description; 
            prototypeName = longText; 
        }, 
        {columnName = endHour; name = endHour; prototypeName = intNumber; }, 
        {columnName = endMinute; name = endMinute; prototypeName = intNumber; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {allowsNull = N; columnName = idVenue; name = idVenue; prototypeName = id; }, 
        {allowsNull = N; columnName = lable; name = lable; prototypeName = longText; }, 
        {
            allowsNull = Y; 
            columnName = meetingPlace; 
            name = meetingPlace; 
            prototypeName = longText; 
        }, 
        {columnName = sectionDate; name = sectionDate; prototypeName = dateTime; }, 
        {columnName = startHour; name = startHour; prototypeName = intNumber; }, 
        {columnName = startMinute; name = startMinute; prototypeName = intNumber; }
    ); 
    className = "com.dyned.conf.eom.VEvent"; 
    classProperties = (
        attendeeSelectedVEvents, 
        color, 
        description, 
        endHour, 
        endMinute, 
        lable, 
        meetingPlace, 
        sectionDate, 
        startHour, 
        startMinute, 
        venue
    ); 
    externalName = vevent; 
    fetchSpecificationDictionary = {}; 
    name = VEvent; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = AttendeeSelectedVEvent; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = idVEvent; sourceAttribute = id; }); 
            name = attendeeSelectedVEvents; 
        }, 
        {
            destination = Venue; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = idVenue; }); 
            name = venue; 
        }
    ); 
}
