<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<webobjects name="TextStyles"></webobjects>
	<webobjects name="TableStyles"></webobjects>
	<webobjects name="PageStyles"></webobjects>
	<webobjects name="AttendeeStyles"></webobjects>
	<title><webobject name = "VenueLable"/> Registration Complete</title>
</head>
<body>

<webobject name = "AttendeeBanner"/>

<div class="pagecontent" style="margin-top: 80px;">

<h3 class="venuelable" style="text-align: center;">Thank You</h3>

<h4 style="text-align: center;">
Congratulations, you're now all signed up for <webobject name = "VenueLable"/>.  
We're looking forward to seeing you there!
</h4>

<p style="text-align: center;">
<webobject name = "AttendeeHomePage">Home</webobject>
|
<webobject name = "ConferencePage">Review Registration</webobject>
|
<webobject name = "AttendeeProfile">Update Special Needs</webobject>
|
<webobject name = "Logout">Log Out</webobject>
</p>

</div>


</body>
</html>
