<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>

<p>You or someone has requested the password to your account for the DynEd Conference registration site.</p>

<p>Your password is <b><webobject name = "AttendeePassword"/></b></p>

<p>Please change you password in your profile.</p>

<p><webobject name = "LoginLink">Log in now</webobject></p>

</body>
</html>
