<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<webobjects name="TextStyles"></webobjects>
	<webobjects name="TableStyles"></webobjects>
	<webobjects name="PageStyles"></webobjects>
	<webobjects name="AttendeeStyles"></webobjects>
	<title>Registration Page 2 - <webobject name = "VenueLable"/></title>
</head>
<body>

<webobject name = "RegistrationForm">
<table cellpadding="0" cellspacing="0" border="0" class="form" style="margin-top: 60px;">
<tr>
	<td colspan="3"><h3><webobject name = "VenueLable"/> Registration</h3></td>
</tr>
<tr>
	<td colspan="3">Thank you for registering <webobject name = "Salutation"/> <webobject name = "NameFamily"/>.<br>
	You have completed your registration.  Please provide us with additional personal and contact information.
	</td>
</tr>
<tr>
	<th colspan="3">&nbsp;</th>
</tr>
<tr>
	<th>&nbsp;</th>
	<th>Job Title</th>
	<td><webobject name = "JobTitle"/>
	<webobject name = "AttendeeFunction"/></td>
</tr>
<tr>
	<td colspan="3" style="text-align: left;"><b>Contact Information</b></td>
</tr>
<tr>
	<th>&nbsp;</th>
	<th>Company Name</th>
	<td><webobject name = "CompanyName"/></td>
</tr>
<tr>
	<th>&nbsp;</th>
	<th>Address</th>
	<td><webobject name = "Street1"/><br>
	<webobject name = "Street2"/></td>
</tr>
<tr>
	<th>&nbsp;</th>
	<th>City</th><td><webobject name = "City"/></td>
</tr>
<tr>
	<th>&nbsp;</th>
	<th>Postal Code</th><td><webobject name = "PostalCode"/></td>
</tr>
<tr>
	<th>&nbsp;</th>
	<th>Country</th><td><webobject name = "Country"/></td>
</tr>
<tr>
	<th colspan="3">&nbsp;</th>
</tr>
<tr>
	<th>&nbsp;</th>
	<th>Phone</th><td><webobject name = "Phone"/> (include country code)</td>
</tr>
<tr>
	<th>&nbsp;</th>
	<th>Fax Number</th><td><webobject name = "Fax"/> (include country code)</td>
</tr>
<tr>
	<td colspan="3" style="text-align: left;"><b>Special Needs</b></td>
</tr>
<tr>
	<th>&nbsp;</th>
	<td><webobject name = "SpecialNeeds"/></td>
	<td>Notes<br><webobject name = "SpecialNeedsNotes"/></td>
</tr>
<tr>
	<th colspan="3">&nbsp;</th>
</tr>
<tr>
	<td colspan="3" class="buttoncell-right"><em><webobject name = "MessageOnPage"/></em>
	<webobject name = "SubmitForm"/></td>
</tr>
</table>
</webobject>

</body>
</html>
